body {
  background-color: white;
}

#thermostat {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
	margin: 80px auto;
  width: 500px;
  overflow: hidden;
  border-radius: 20px;
}

#row1 {
  height: 50%;
  width: 100%;
}

#changeTemps {
   width: 50%;
   float: left;
   margin-top: 40px;
   margin-bottom: 10px;
   padding-left: 50px;
}

#display {
  width: 50%;
  float: right;
}

#row2 {
  height: 50%;
  width: 100%;
  display: flex;
}

#bottomLeft {
  width: 33%;
  float: left;
  margin-left: 90px;
  margin-bottom: 30px;
  margin-top: 25px;
}

#bottomMiddle {
  width: 33%;
  margin-top: 25px;
}

#bottomRight {
  width: 33%;
  /* margin-right: 70px; */
  margin-top: 25px;
}

#increaseTemp {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid grey;
  margin-bottom: 20px;
  cursor: pointer;
}

#decreaseTemp {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid grey;
  cursor: pointer;
}

#tempDisplay {
  float: right;
  margin-top: 70px;
  margin-right: 60px;
  font-size: 52px;
  border: 2px solid grey;
  padding: 20px 20px;
  border-radius: 10px;
}
